:root{
    --blue:#191e87;
    --black: #000;
    --white: #fffffe;
    --fondo: #16161a;
    --blancoOscuro: #C0C0C0;

}

html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: var(--blancoOscuro);
    transition: all 0.3s ease-out;
    overflow-x: hidden;
}


/************Modo Oscuro************/
body.darks{
    background: var(--fondo);
}

body.darks .header,
body.darks .FooterContainer{
    background-color: var(--black);
    transition: all 0.3s ease-out;
}

body.darks .logo a,
body.darks .nav-links li a,
body.darks .hero_items h1,
body.darks .wrapper i,
body.darks .FooterContainer .SocialLogo a,
body.darks .SocialIconLink a{
    color: var(--blue);
    transition: all 0.3s ease-out;
}

body.darks .logo a:hover,
body.darks .nav-links li a:hover,
body.darks .FooterContainer .SocialLogo a:hover,
body.darks .SocialIconLink a:hover{
    color: var(--white);
    transition: all 0.3s ease-out;
}

body.darks .hero_container .hero_content .hero_items strong,
body.darks .hero_items p,
body.darks .section_container h1,
body.darks .proyect_container h1{
    color: var(--white);
    transition: all 0.3s ease-out;
}

body.darks .navbar_toggle .bar,
body.darks .scroll-top-btn{
    background-color: var(--blue);
    color: var(--black);
}

body.darks .scroll-top-btn:hover{
    color: var(--white);
}

body.darks .highlight{
    border-bottom: 4px solid var(--blue);
}

.highlight{
    border-bottom: 4px solid var(--white);
}

body.darks .header{
    background-color: #16161a;;
}


/************header************/
.header{
    background-color: var(--blancoOscuro);
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .logo:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-out;
}

.header .logo a{
    font-size: 27px;
    padding-left: 24px;
    font-weight: 600;
    color: var(--white);
    transition: all 0.3s ease-out;
}

.header .logo a:hover{
    color: var(--fondo);
}

.navbar_toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    display: block;
    cursor: pointer;
}

#mobile-menu{
    position: absolute;
    cursor: pointer;
    display: none;
}

#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

/* .navbar_menu{
    position: absolute;
} */
.header .nav-links{
    display: flex;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    position: relative;
    right: 30%;
    transition: all 0.3s ease;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--white);
    padding-bottom: 14px;
}

.header .nav-links a:hover{
    color: var(--fondo);
    transition: all 0.3s ease;
}

.header .dark{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    right: 0;
}

button span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: var(--white);
}

button span::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: var(--white);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.dark.active{
    background: orange;
    color: var(--black);
}

.dark.active span::after{
    left: unset;
    right: 0;
}

/************hero************/
section{
    padding: 70px 10%;
}

.hero_container{
    display: grid;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -moz-box-pack: center;
    justify-content: center;
}

.hero_container .hero_content{
    display: grid;
    grid-auto-columns: 1fr;
    -moz-box-align: center;
    align-items: center;
    grid-template-areas: "col1 col2";
}

.column1{
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col1;
}

.column2{
    margin-top: 20px;
    padding: 0 15px;
    grid-area: col2;
}

.hero_items h1{
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.hero_items h1 strong{
    color: var(--blue);
    transition: .3s ease all;
}

.hero_items p{
    font-size: 18px;
    font-weight: 500;
    margin: 1rem 0 2rem;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.img_content img{
    width: 600px;
    max-width: 100%;
    margin: 0 0 10px 0;
    padding-right: 0;
    height: auto;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-20px);
    }
}

/* .hero_container .nav-btn{
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 7px 17px;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.hero_container .nav-btn:hover{
    background-color: transparent;
    color: var(--blue);
    padding: 6px 16px;
    border-radius: 4px;
    border: solid 1px var(--blue);
    transition: all 0.3s ease-out;;
} */


/************section************/
.section_container{
    padding: 10px 0;
    text-align: center;
    width: 80%;
    margin: 100px auto;
    border-radius: 10px;
}

.section_container h1{
    color: var(--white);
    font-size: clamp(2rem, 2.5vw, 3rem);
    text-align: center;
    margin-top: 80px;
}

.section_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
}

.section_card{
    position: relative;
    height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 14px;
    border-radius: 0.5rem;
    box-shadow: 8px 8px var(--blue);
}

.section_card:hover{
    transform: scale(1.1);
}

.section_img{
    width: 80px;
    height: 80px;
}

.section_img img{
    width: 100%;
    height: 100%;
    transform: 1.5s ease;
}

.section_img img:hover{
    transform: scale(1.1);
}

.section_card figcaption{
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    top: 10%;
}


/************Proyectos************/
.proyect_container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.proyect_container h1{
    color: var(--white);
    font-size: clamp(2rem, 2.5vw, 3rem);
    text-align: center;
    justify-content: center;
}

.wrapper{
    max-width: 1200px;
    position: relative;
    width: 100%;
}

.wrapper i{
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: var(--white);
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -23px;
}

.wrapper i:last-child{
    right: -23px;
}

.wrapper .carousel{
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.wrapper .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.wrapper .carousel.dragging img{
    pointer-events: none;
}

.wrapper .carousel .Img{
    display: inline-block;
    width: calc(100% / 3);
    height: 270px;
    background-color: var(--blue);
    margin-left: 15px;
}

.wrapper .carousel .Img figcaption{
    color: var(--white);
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    padding: -3rem;
}

.wrapper .carousel img{
    height: 240px;
    /* object-fit: cover; */
    object-position: center center;
    margin-left: 15px;
    padding-bottom: 10px;
    width: 100%;
}

.wrapper .carousel img:first-child{
    margin-left: 0px;
}

@media (max-width: 900px){
    .wrapper .carousel .Img{
        width: calc(100% / 2);
    }
}

@media (max-width: 720px){
    .wrapper .carousel .Img{
        width: calc(100% / 2);
    }
}

@media (max-width: 550px){
    .wrapper .carousel .Img{
        width: 100%;
    }
}


/************Footer************/
.FooterContainer{
    background-color: var(--blue);
}

.FooterContainer .FooterWrap{
    padding: 10px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.FooterContainer .SocialMedia{
    max-width: 1300px;
    width: 100%;
}

.FooterContainer .SocialMediaWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 10px auto 0 auto;
}

.FooterContainer .SocialLogo{
    position: relative;
    top: 50%;
}

.FooterContainer .SocialLogo a{
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: all 0.3s ease;
}

.FooterContainer .SocialLogo a:hover{
    color: var(--black);
    transition: all 0.3s ease;
}

.FooterContainer .SocialIcons{
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.SocialIconLink {
    font-size: 24px;
    color: var(--white);
    transition: all 0.3s ease;
    cursor: pointer;
}

.SocialIconLink:hover{
    color: var(--black);
    transition: all 0.3s ease;
}

/********Boton scroll*********/
.scroll-top-btn{
    position: fixed;
    z-index: 999;
    bottom: 8vh;
    right: calc(1rem + 1vw);;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--white);
    color: var(--blue);
    border: none;
    cursor: pointer;
    outline: 0;
    transition: all 0.3s ease-out;
}

.scroll-top-btn:hover{
    color: var(--black);
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

/*----------------------
***  modo movil   ***
----------------------*/
@media (max-width: 1024px){
    body.darks .header .nav-links{
        background-color: var(--black);
    }

    body.darks .highlight{
        border-bottom: none;
    }

    .highlight{
        border-bottom: none;
    }
    
    section{
        padding: 50px 8%;
    }

    .dark{
        left: -10px;
        top: 65px;
    }

    #mobile-menu{
        display: initial;
        right: 1rem;
    }

    .header .nav-links{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--blue);
        transition: all 0.3s ease;;
    }

    .header .nav-links li a{
        padding: 1.5rem;
        display: block;
        position: relative;
        left: 30%;
    }

    .header .nav-links.active{
        top: 44px;
    }

    .header .nav-links li:hover{
        transform: none;
    }
}

@media (max-width: 720px){
    section{
        padding: 100px 7%;
    }

    .header .logo a{
        font-size: 20px;
    }

    .hero_container .hero_content{
        grid-template-areas: "col1 col1" "col2 col2";
    }

    .header .logo:hover{
        transform: none;
    }

    .FooterContainer .SocialMediaWrap{
        justify-content: center;
    }

    .FooterContainer .SocialLogo a{
        display: none;
    }
}

@media (max-width: 575px){
    .header .logo a{
        position: absolute;
        margin-top: -15px;
    }

    .dark{
        left: -8px;
        top: 65px;
    }
}
